ul{
  list-style-type: none;
}
.titulo{color: white;
  font-size: 200%;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

li {
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

.active {
  background-color: #4CAF50;
  color: white;
}
ul li{
  display: inline-block;
  float: none;
}
ul{
  width: 100%;
  display: table;
  text-align: center;
}
body{margin: 10%;}