.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
services/__pycache__/crear_calidad.cpython-39.pyc
test/__pycache__/test_objetos.cpython-39-pytest-6.1.1.pyc
