
*{ margin-top: 10px;
    margin-bottom: 0;
    margin-left: 0;
    background-color: #ff9999;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 12;}



/* Hacemos el menú horizontal, es una lista desordenada con la etiqueta de clase horizontal */
ul.horizontal{ 
    width: 95%;
    text-align: left ;
    margin: 0;

}


ul.horizontal li{
    width :20%;
    text-align: center;
    display:inline;
    float: left;

    
    
}
ul.horizontal li a {
        display: block;
        padding-top: 12px;
        padding-bottom:12px;
        background-color: #720000;
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 200;
        text-decoration: none;
        border-bottom: 4px solid #ff9999
}

ul.horizontal li a:hover{background-color:  #3b0808;
            color: #d60505;
            font-weight: bolder;
            border-bottom: 4px solid #d60505}
