*{font-family: Arial, Helvetica, sans-serif;}

body{margin-right: 20%;
margin-left: 20%;
}

html{background-color: grey;
}

@font-face { font-family: "Get Schwifty Regular";
  src: url("../Tipografia/get_schwifty.ttf") format("ttf");
}

.superdiv{margin-top: 10%;
background-color: transparent;
text-align: center;
}

ul{list-style-type: none;}

html {
    background-image: url("fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  div.pack{padding: 100px; 
    border: 10px solid purple; 
    border-radius: 20px; 
    margin-top: 50px; 
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}
div.titulo{padding: 100px; 
  border: 10px solid blue; 
  border-radius: 20px; 
  margin-top: 50px; 
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);}