nav.menu{
    padding:0;
    margin: 0;
    width: 95%;
    list-style-type: none;
    overflow: hidden;
    
}
ul.horizontal li{
    width: 25%;
    text-align: center;
    display:inline;
    float: left; 
}
ul.horizontal li a {
        display: block;
        padding-top: 12px;
        padding-bottom:12px;
        background-color: black;
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 200;
        text-decoration: none;
        border: 2px solid purple
}

ul.horizontal li a:hover{background-color:  purple;
            color: black;
            font-weight: bolder;
            border: 2px solid black}



