<<<<<<< HEAD
*{font-family: Arial, Helvetica, sans-serif;
  background-image: url("fondo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgb(255, 7, 7);
  }

div{background-color: grey;}
=======
*{font-family: Arial, Helvetica, sans-serif;}
>>>>>>> 97fb7a4559610e403a23a7fb41f0f205836ab022

body{margin-right: 20%;
margin-left: 20%;
}

<<<<<<< HEAD
@font-face{ font-family: "Get Schwifty Regular";
  src: url("../Tipografia/get_schwifty.ttf") format("ttf");
}


a.logo img{width: 20%;
height: 20%;
margin-top: 0px;}

h1.principal{font-family: "Get Schwifty Regular";
color: rgb(146, 235, 4);
font-size: 50px;}

=======
@font-face { font-family: "Get Schwifty";
  src: url("..\Tipografia\get_schwifty.ttf") format("ttf");
}

h1.principal{font-family: "Get Schwifty";
  color: rgb(146, 235, 4);
  font-size: 50px;
}
>>>>>>> 97fb7a4559610e403a23a7fb41f0f205836ab022
.superdiv{margin-top: 10%;
background-color: transparent;
text-align: center;
}

ul{list-style-type: none;}

html {
    background-image: url("fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  div.pack{padding: 100px; 
    border: 10px solid purple; 
    border-radius: 20px; 
    margin-top: 50px; 
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}
div.titulo{padding: 100px; 
  border: 10px solid blue; 
  border-radius: 20px; 
  margin-top: 50px; 
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);}