
@font-face{font-family:"Dr.Marz";
  src: url("..\..\Tipografia\Dr.Marz.otf") format("otf")}

@font-face { font-family: "Get Schwifty";
  src: url("..\..\Tipografia\get_schwifty.ttf") format("ttf");
}
@font-face{ font-family: "Shlop";
  src: url("..\..\Tipografia\pepinillo.ttf") format("ttf");
}


*{font-family:"Dr.Marz, Arial, Sans-serif"}

body{margin-right: 20%;
margin-left: 20%;
}



h1.principal{font-family: "Get Schwifty";
  color: rgb(146, 235, 4);
  font-size: 70px;
  text-shadow:
  -1.5px -1.5px rgb(54, 87, 1),  
   1.5px -1.5px rgb(54, 87, 1),
  -1.5px 1.5px  rgb(54, 87, 1),
   1.5px 1.5px  rgb(54, 87, 1);
;
}

div.logo{text-align: center;
      }

a img.logo{width: 25%;
        height: 25%;
        }

/*Este es el título de tipo de pack*/
div.titulo h1{font-family: "Shlop";
  color:rgb(146, 235, 4);
  font-size: 50px;}



.superdiv{margin-top: 10%;
background-color: transparent;
text-align: center;
}

ul{list-style-type: none;}

html {
    background-image: url("fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }


  div.pack{padding: 100px; 
    border: 10px solid purple; 
    border-radius: 20px; 
    margin-top: 50px; 
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);}

    div.titulo{padding: 100px; 
  border: 10px solid blue; 
  border-radius: 20px; 
  margin-top: 50px; 
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  }